body{                                                                                        /* body css manage */
    font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.199);
    padding: 0;
}
h1,h2,h3,h4,h5,h6{                                                                          /* heading css manage */
    margin: 0px;
}
/* search css */
.welcome-container {                                                                    /* welcome container css manage */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

                                                                                            /* PRODUCT title bar */
.product-title{                                                                         /* product title css manage */
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.product-bar{                                                                           /* product bar css manage */
    display: flex;
    justify-content: center;
    width:35%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.title-btn{                                                                         /* product title button css manage */
    width: 15%;
    height: 5vh;
    margin-right: 10px;
    border-radius: 40px;
    transition:all 1.5s ease-in-out;
}
.title-btn:hover{                                                               /* product title button hover css manage */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
     rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
       rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, 
       rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
     background-color:#14467a;
   color:white;
}
                                                                                                        /* rolax css */
.rolex-section {                                                                                /* rolax section css manage */
    max-width:100%;
}
.rolex {                                                                                           /* rolex css manage */
   
    text-align: center;
    margin : 3% 20% 0px 20%;
    height: 200vh;
}
.rolex-item {                                                                                    /* rolex item css manage */
   
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  
    padding: 20px;
}
.rolex-list {                                                                                     /* rolex list css manage */
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows: 20% 20% 20% 20%;
    gap: 15px 10px;
    width: 100%;
    height: 100%;
    padding: 0px; 
     background-color: #d6dde4;
    text-decoration: none;
    margin: 0px;
}
.rolex-container {                                                                              /* rolex container css manage */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.rolex img {                                                                                    /* rolex image css manage */
    max-width: 95%;
    max-height: 75%;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
                                                                                                  /* left side bar */
.side-bar {                                                                                 /* left side bar css manage */
    position: fixed;
    top: 0;
    left: 0;
    width: 13%;
    height: 92%;
    background-color: rgb(74, 103, 132);
    padding: 20px;
    margin:30px;
    border-radius: 10px;
    box-shadow:  rgba(36, 55, 66, 0.936) 0px 0px 0px 2px inset,
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
     rgb(3, 3, 3) 0px 15px 12px,rgb(103, 128, 152) 20px -20px 0px -3px, 
     rgba(70, 87, 97, 0.936) 20px -20px ,rgba(0, 0, 0, 0.217) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.215) 0px -36px 30px 0px inset, 
      rgba(0, 0, 0, 0.211) 0px -79px 40px 0px inset,
       rgba(0, 0, 0, 0.106) 0px 2px 1px,
        rgba(0, 0, 0, 0.109) 0px 4px 2px,
         rgba(0, 0, 0, 0.109) 0px 8px 4px, rgba(0, 0, 0, 0.109) 0px 16px 8px,
          rgba(0, 0, 0, 0.109) 0px 32px 16px;
     
}
.side-bar-title {                                                                       /* left side bar title css manage */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.symbol ,hr{                                                                            /* left side bar symbol css manage */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%; border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      
}

.side-bar-line{                                                                             /* left side bar line css manage */
    width: 50%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
.side-bar-container {                                                                   /* left side bar container css manage */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100%;
}
.side-bar-content {                                                                     /* left side bar content css manage */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100%;
    margin-top: 40px;
}
.side-bar-item {                                                                            /* left side bar item css manage */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition:all 0.3s ease-in-out;
}
.side-bar-item:hover {                                                                    /* left side bar item hover css manage */ 
    background-color: #a9c6e4;
    transform: scale(1.05);
}
.icon{                                                                                      /* left side bar icon css manage */
    width: 20%;
    height: 80%;
    border-radius: 50%;
}
.siz{                                                                                      /* left side bar size css manage */
    width: 60%;
}
.side2-bar {                                                                                /* right side bar css manage */
    position: fixed;
    top: 0;
    right: 0;
    width: 13%;
    height: 92%;
    background-color: rgb(206, 199, 206);
    padding: 20px;
    margin:30px;
    border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.side2-bar-container {                                                                  /* right side bar container css manage */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100%;
}
.side2-bar-title {                                                                          /* right side bar title css manage */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.addcart{                                                                                   /* right side bar add to cart css manage */
    overflow: auto;
}
.side2-cart{                                                                                    /* right side bar cart css manage */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:80%;
    height: 80%;
    margin-top:30px;
}
.bill{                                                                                          /* right side bar bill css manage */
    display: flex;
    flex-direction: column;
    height: 20%;
}
.del:hover{                                                                              /* right side bar delete button hover css manage */
    
  transform: scale(1.1);
}
.subtotal{                                                                                   /* right side bar subtotal css manage */
    display: flex;
    justify-content: space-between;
}
.total{                                                                                        /* right side bar total css manage */
    width: 80%;
}
.hr{                                                                                            /* right side bar hr css manage */
    height: 0px;
    width: 100%;
}
.hr2{                                                                                          /* right side bar hr2 css manage */
    height: 0px;
    width: 80%;
}
.plus{                                                                                      /* right side bar plus button css manage */
    width: 30%;
    height: 20%;
    border-radius:10px;
}
.addcart{                                                                                   /* right side bar add to cart css manage */
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    height: 80%;
}
.pay{                                                                                       /* right side bar pay button css manage */
    margin-top: 20px;
    width: 100%;
    height: 100%;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    background-color: #004085;
    border-radius: 20px;
     cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.pay:hover{                                                                                /* right side bar pay button hover css manage */
    transform: scale(1.051);
    background-color: #0056b3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.pay:active{                                                                              /* right side bar pay button active css manage */
    background-color:#14467a;
     box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
                                                                                                        /* payment method section  */
.pay-bar {                                                                                              /* payment bar css manage */
   
    position: fixed;
    top: 0;
    right: 0;
    width: 13%;
    height: 92%;
    background-color: rgb(206, 199, 206);
    padding: 20px;
    margin:30px;
    border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
     transform: translate(350px);
   transition: all 0.3s ease-in;
}
.cash-block{                                                                                            /* cash block css manage */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 80%;
    width:80%;
    
}
.hr1{                                                                                               /* right side bar hr1 css manage */
    height: 0px;
    width:100%;
}
    .pay-block{                                                                                         /* pay block css manage */
         display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    }
    .pay-block-btns{                                                                                  /* pay block buttons css manage */
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
.payment-method{                                                                                     /* payment method css manage */
    display: flex;
    justify-self: center; 
    gap: 5px; 
}
.cash-btn{                                                                                            /* cash button css manage */
    background-color: #0379f86b;
    color:white;
    height: 40px;
    width:50px;
    border-radius: 10px;
}
.card-btn{                                                                                           /* card button css manage */
    height: 40px;
    width:50px;
    border-radius: 10px;
}
.customer-input{                                                                                    /* customer input css manage */
    height: 30px;
    margin-top: 10px;
     margin-bottom: 10px;
    background-color: antiquewhite;
    border: 1px solid green;
    border-radius: 5px;
}
.receipt{                                                                                               /* receipt css manage */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    height: 50%;
    width: 100%;
}
.receipt-block{                                                                                       /* receipt block css manage */
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.confirm-details{                                                                                  /* confirm details button css manage */
    width:100%;
    height: 30px;
    margin-top: 10px;
     margin-bottom: 10px;
     color:white;
     background-color: rgba(58, 96, 121, 0.888);
     border: none;
     box-shadow: rgba(15, 39, 56, 0.4) 0px 5px,
      rgba(15, 39, 56, 0.3) 0px 10px,
       rgba(15, 39, 56, 0.2) 0px 15px,
        rgba(15, 39, 56, 0.1) 0px 20px,
         rgba(15, 39, 56, 0.05) 0px 25px;
}
.confirm-details:active{                                                                        /* confirm details button active css manage */
     background-color: rgba(104, 143, 170, 0.888);
}
.card-block{                                                                                            /* card block css manage */
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 80%;
    width:80%;
    
}
.card-logos{                                                                                            /* card logos css manage */
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.expiry-date{                                                                                          /* expiry date css manage */
    width :45%;
}
.ex-cv{                                                                                            /* expiry date and cvv css manage */
    display: flex;
    justify-content:left;
    gap: 10px;
    width:80%;
}
.ex-input{                                                                                          /* expiry date input css manage */
     display: flex;
    justify-content: space-between;
    width:90%;
}
.add-price{                                                                                             /* add price css manage */
    display: flex;
    justify-content: space-between;
}
.minus-btn{                                                                                           /* minus button css manage */
    background-color: rgba(5, 8, 8, 0.103);
    height: 20px;
    width: 22px;
}
.plus-btn{                                                                                            /* plus button css manage */
    background-color: rgba(5, 8, 8, 0.103);
    height: 20px;
}
.product-quantity{                                                                                  /* product quantity css manage */
    display: flex;
    justify-content: center;
    align-items: center;
}
                                                                                                        /* history section */
.history-section{                                                                                   /* history section css manage */
    display: flex;
    justify-content: center;
}